<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-buttons slot="end">
			<ion-button color="primary" [disabled]="!form.valid" (click)="onSubmit()">

        Add
      </ion-button>
		</ion-buttons>
    <ion-title>Add a property</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add a property</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form" #f>
    <ion-item-group>
      <ion-item lines="none">
        <ion-input
          formControlName="name" [errorText]="nameInputError"
          label="Property Name" labelPlacement="floating" placeholder="Property Name"/>
      </ion-item>
    </ion-item-group>

    <ion-item-group formGroupName="address">
      <ion-item-divider>
        <ion-label>Address</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-input
          formControlName="line1" [errorText]="getAddressError('line1', 'Address Line 1')"
          label="Line 1" labelPlacement="floating" placeholder="Address Line 1" />
      </ion-item>
      <ion-item lines="none">
        <ion-input
          formControlName="line2" [errorText]="getAddressError('line2', 'Address Line 2')"
          label="Line 2" labelPlacement="floating" placeholder="Address Line 2" />
      </ion-item>
      <ion-item lines="none">
        <ion-input
          formControlName="city" [errorText]="getAddressError('city', 'City')"
          label="City" labelPlacement="floating" placeholder="City" />
      </ion-item>
      <ion-item lines="none">
        <ion-input
          formControlName="state" [errorText]="getAddressError('state', 'State')"
          label="State" labelPlacement="floating" placeholder="State" />
      </ion-item>
      <ion-item lines="none">
        <ion-input
          formControlName="country" [errorText]="getAddressError('country', 'Country')"
          label="Country" labelPlacement="floating" placeholder="Country" />
      </ion-item>
      <ion-item lines="none">
        <ion-input
          formControlName="postalCode" [errorText]="getAddressError('postalCode', 'Postal Code')"
          label="Postal Code" labelPlacement="floating" placeholder="Postal Code" />
      </ion-item>
    </ion-item-group>

    <ion-item-group formControlName="photos">
      <ion-item lines="none">
        <select-multiple-files
          accept="image/*" (onFilesSelected)="onPhotosSelected($event)"
          label="Property Photos(s)" placeholder="Please upload property photo(s)">

        </select-multiple-files>
      </ion-item>
    </ion-item-group>
  </form>

  <ion-alert
    [isOpen]="alertOptions != undefined"
    [header]="alertOptions?.header"
    [subHeader]="alertOptions?.subHeader"
    [message]="alertOptions?.message"
    [buttons]="alertOptions?.buttons ?? []"
    animated="true"
  ></ion-alert>
</ion-content>
