<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title>Add a property</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add a property</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form">
    <div class="form-control">
      <label for="name">Property Name</label>
      <input
        required minlength="5"
        formControlName="name"
        type="text" >
    </div>
  </form>
</ion-content>
